@keyframes jumpin
{
    0%    { 
        transform: translateY(0px);
    }
    25%   { 
        transform: translateY(-10px);
    }
    50%   { 
        transform: translateY(0px);
    }
    75%   { 
        transform: translateY(10px);
    }
    100%  { 
        transform: translateY(0px);
    }
}

.what-the {
    /* jumpin */
    animation: jumpin 0.75s 0s infinite forwards;      /* name, duration, delay, iteration count, fill mode */
}